body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.searchContainer {
    height: 50px;
}
.searchContainer .right {
    position: absolute;
}

.highlighted {
    color: red;
}

ul.pageLinks {
    list-style: none;
    display: inline-block;
    min-width: 215px;
    padding: 0;
}

ul.pageLinks li {
    border: none;
    border-left: 1px solid #ccc;
    display: inline-block;
    padding: 0 5px;
}
ul.pageLinks li:first-child {
    border-left: none;
}

@media only screen and (max-width: 600px) {
    ul.pageLinks {
        min-width: 95px;
    }
    ul.pageLinks li span {
        display: none;
    }

    table.table > tbody > tr > th {
        padding: 8px 4px;
    }
}

